<h1>Register</h1>

<form action="/register" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="lastname">Lastname:</label>
    <input type="text" id="lastname" name="lastname">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Register</button>
</form>
